<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.js.summary.mapper.SummaryMapper">

    <resultMap id="BaseResultMap" type="com.js.summary.entity.Summary">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="summary" column="summary" javaType="java.lang.Long" typeHandler="com.js.summary.typeHandler.ListTypeHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,summary
    </sql>
</mapper>
